*, *:before, *:after {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.d-flex {
  display: flex;
}

/* ==========================================================================
   Camilo's custom styles
   ========================================================================== */

body {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 15% 1fr 27%;
  grid-template-rows: 60px 150px 270px auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas: "sidebar search search" "sidebar header header" "sidebar reports reports" "sidebar main marketing";
}

.search-bar {
  grid-area: search;
}

.main-navigation {
  grid-area: sidebar;
  color: #a0abbd;
}

.employee-navigation {
  grid-area: header;
}

.employee-info {
  grid-area: reports;
}

.marketing {
  grid-area: marketing;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

hr {
  border-top: 1px solid #2c3749;
  border-bottom: 1px solid #3b4961;
}

.main-navigation {
  background-color: #354052;
}

.main-navigation h3 {
  padding-left: 40px;
}

.main-navigation li {
  list-style: none;
}

.marketing,
.employee-info,
.main {
  background-color: #edf2f6;
}

.employee img {
  max-width: 120px;
  border-radius: 50%;
  margin: 1rem auto 0;
  display: block;
}

.employee select {
  margin: 1rem auto;
  display: block;
}

.main-navigation svg {
  min-width: 20px;
}

/*15 auto 27% %*/

/*navy blue - #354052
job description backgroud - # 707f94
light blue grey - #edf2f6
navigation hover - #18a4f9

fb - #4e73c3
twitter - #01aaef
linkedin - #0482bd
light-green - #4bb7c1
 */

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}