*, *:before, *:after {
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.d-flex {
  display: flex;
}

/* ==========================================================================
   Camilo's custom styles
   ========================================================================== */

html {
  color: #868f9d;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 15% 1fr 27%;
  grid-template-rows: 70px 150px 270px auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas: "sidebar search search" "sidebar header header" "sidebar reports reports" "sidebar main marketing";
}

.search-bar {
  grid-area: search;
}

.main-navigation {
  grid-area: sidebar;
  color: #a0abbd;
}

.employee-navigation {
  grid-area: header;
}

.employee-info {
  grid-area: reports;
}

.marketing {
  grid-area: marketing;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

hr {
  border-top: 1px solid #2c3749;
  border-bottom: 1px solid #3b4961;
}

.main-navigation {
  background-color: #354052;
}

.main-navigation h3 {
  padding-left: 40px;
}

.main-navigation ul {
  padding-left: 0;
}

.main-navigation li {
  list-style: none;
  line-height: 2rem;
  padding-left: 40px;
}

.main-navigation li:hover {
  border-left: 4px solid #18a4f9;
  padding-left: 36px;
}

.marketing,
.employee-info,
.main {
  background-color: #edf2f6;
}

.employee img {
  max-width: 120px;
  border-radius: 50%;
  margin: 1rem auto 0;
  display: block;
}

.employee select {
  margin: 1rem auto;
  display: block;
}

.main-navigation svg {
  min-width: 20px;
}

.search-bar {
  display: grid;
  grid-template-columns: 70px 1fr 70px 70px 70px;
}

.search-bar section:hover {
  background-color: #18a4f9;
}

.search-bar section:hover .svg-inline--fa {
  color: #fff;
}

.search-bar .menu {
  border-right: transparent;
}

.search-bar section {
  justify-content: center;
  align-items: center;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.search-bar section.search-input {
  justify-content: flex-start;
}

.search-bar section.search-input:hover {
  background-color: transparent;
  color: #526074;
}

.search-input svg {
  margin: 0 1rem 0 40px;
}

.search-input input {
  border: none;
  width: 100%;
}

.search-bar .svg-inline--fa {
  width: 22px;
  height: 22px;
  color: #526074;
}

.search-bar .fa-caret-left {
  width: 6px;
  margin-right: 2px;
  color: #18a4f9;
}

.employee-data {
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

.employee-data h2 {
  margin: 0 0 5px 0;
  color: #222;
}

.employee-data p {
  margin: 0 0 5px 0;
}

.employee-data a {
  color: #18a4f9;
  text-decoration: none;
}

.employee-buttons {
  align-items: center;
}

.employee-buttons button {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  padding: 0;
}

.employee-buttons button:hover {
  background-color: #ccc;
  color: #fff;
}

.employee-buttons button.employee-button1 {
  border-radius: 28px;
  padding: 15px 20px;
}

.employee-buttons button.employee-button2 .svg-inline--fa,
.employee-buttons button.employee-button3 .svg-inline--fa,
.employee-buttons button.employee-button4 .svg-inline--fa {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 15px;
}

.employee-buttons .employee-button1 svg {
  width: 16px;
  color: #8ac631;
}

.section-seperator span {
  width: 48%;
  border-top: 1px solid #ccc;
  display: inline-block;
}

/*fb - #4e73c3*/
/*twitter - #01aaef*/
/*linkedin - #0482bd*/
/*light-green - #4bb7c1*/

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}