*, *:before, *:after {
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.d-flex {
  display: flex;
}

[class^="hover-"] {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-left:hover:before,
.hover-left:focus:before,
.hover-left:active:before {
  right: 0;
}

html {
  color: #868f9d;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

body {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas: "sidebar search search" "sidebar header header" "sidebar reports reports" "sidebar main marketing";
  grid-template-columns: 15% 1fr 27%;
  grid-template-rows: 70px 150px auto auto;
  height: auto;
  width: 100%;
}

.search-bar {
  grid-area: search;
}

.main-navigation {
  grid-area: sidebar;
}

.employee-container {
  grid-area: header;
}

.employee-info {
  grid-area: reports;
}

.marketing {
  grid-area: marketing;
}

hr {
  border-top: 1px solid #2c3749;
  border-bottom: 1px solid #3b4961;
}

/*==========  Main Navigation  ==========*/

.main-navigation {
  background-color: #354052;
}

.main-navigation select {
  background-color: #354052;
  color: #a0abbd;
  border: none;
  overflow: auto;
}

.main-navigation h3 {
  padding-left: 40px;
}

.main-navigation ul {
  padding-left: 0;
}

.main-navigation li {
  list-style: none;
  line-height: 2rem;
  padding-left: 40px;
}

.main-navigation li a {
  color: #868f9d;
  text-decoration: none;
}

.main-navigation__main li:hover,
.main-navigation__admin li:hover {
  border-left: 4px solid #18a4f9;
  padding-left: 36px;
}

.main-navigation svg {
  min-width: 20px;
}

.marketing,
.employee-info,
.main {
  background-color: #edf2f6;
}

.employee img {
  border-radius: 50%;
  display: block;
  margin: 1rem auto 0;
  max-width: 120px;
}

.employee select {
  display: block;
  margin: 1rem auto;
}

.search-bar {
  display: grid;
  grid-template-columns: 70px 1fr 70px 70px 70px;
}

.search-bar section:hover {
  background-color: #18a4f9;
}

.search-bar section:hover .svg-inline--fa {
  color: #fff;
}

.search-bar section:hover .svg-inline--fa.fa-search {
  color: #526074;
}

.search-bar-menu {
  border-right: transparent;
}

.search-bar section {
  align-items: center;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  justify-content: center;
}

.search-bar section.search-input {
  justify-content: flex-start;
}

.search-bar section.search-input:hover {
  background-color: transparent;
  color: #526074;
}

.search-input svg {
  margin: 0 1rem 0 40px;
}

.search-input input {
  border: none;
  width: 100%;
}

.search-bar .svg-inline--fa {
  color: #526074;
  height: 22px;
  width: 22px;
}

.search-bar .fa-caret-left {
  color: #18a4f9;
  margin-right: 2px;
  width: 6px;
}

/*==========  Employee Data  ==========*/

.employee-data {
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}

.employee-data h2 {
  color: #222;
  margin: 0 0 5px 0;
}

.employee-data p {
  margin: 0 0 5px 0;
}

.employee-data a {
  color: #18a4f9;
  text-decoration: none;
}

.employee-buttons {
  align-items: center;
}

.employee-buttons button {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 10px;
  padding: 0;
}

.employee-buttons button:hover {
  background-color: #ccc;
  color: #fff;
}

.employee-buttons button.employee-button1 {
  border-radius: 28px;
  padding: 15px 20px;
}

.employee-buttons button.employee-button2 .svg-inline--fa,
.employee-buttons button.employee-button3 .svg-inline--fa,
.employee-buttons button.employee-button4 .svg-inline--fa {
  height: 20px;
  margin: 15px;
  padding: 0;
  width: 20px;
}

.employee-buttons .employee-button1 svg {
  color: #8ac631;
  margin-right: 6px;
  width: 16px;
}

.donut-1,
.donut-2,
.donut-3 {
  position: relative;
  width: 33%;
  max-height: 210px;
}

.donut-interior {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.donut-interior p {
  font-size: 34px;
  font-weight: bold;
  margin: 0;
}

.donut-interior p {
  text-transform: uppercase;
}

a.menu-link {
  color: #868f9d;
  display: block;
  float: right;
  font-weight: bold;
  padding: 1rem 2rem 1rem 1rem;
  text-decoration: none;
}

nav.employee-navigation {
  clear: both;
  margin-top: 11px;
  padding-left: calc(2rem - 0.8em);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.js nav.employee-navigation {
  overflow: hidden;
  max-height: 0;
}

nav.employee-navigation.active {
  background-color: #edf2f6;
  max-height: 22em;
  position: relative;
  z-index: 2;
}

nav.employee-navigation ul {
  border-top: 1px solid #526074;
  margin: 0;
  padding: 0;
}

nav.employee-navigation li a {
  border-bottom: 1px solid #526074;
  display: block;
  padding: 0.8em;
  text-decoration: none;
}

.hover-left {
  -webkit-transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transform: perspective(1px) translateZ(0);
  vertical-align: middle;
}

.hover-left:before {
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: right;
  -webkit-transition-timing-function: ease-out;
  background: #2098d1;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  right: 100%;
  transition-duration: 0.3s;
  transition-property: right;
  transition-timing-function: ease-out;
  z-index: -1;
}

.section-seperator span {
  border-top: 1px solid #ccc;
  display: inline-block;
  width: 48%;
}

/*==========  Employee Information  ==========*/

.employee-info {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas: "donut bar" "totals applicants" "seperator seperator";
  grid-template-columns: 55% 45%;
  grid-template-rows: 60% 20% 20%;
  height: auto;
  padding-top: 3rem;
  width: 100%;
}

.employee-info button {
  background-color: #fff;
  border-radius: 28px;
  border: 2px solid #ccc;
  margin-right: 10px;
  padding: 8px 20px;
}

.employee-info button:hover {
  background-color: #ccc;
  color: #fff;
}

.employee-info img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.employee-info .totals,
.employee-info .applicants {
  align-items: center;
  justify-content: center;
}

.donut-chart-container {
  grid-area: donut;
}

.bar-chart {
  grid-area: bar;
}

.totals {
  grid-area: totals;
}

.applicants {
  grid-area: applicants;
}

.donut-chart-container {
  margin-left: 2rem;
}

.section-separator {
  align-items: center;
  grid-column: 1 / span 2;
  justify-content: space-between;
  padding: 2rem 0;
}

.section-separator .hr {
  background-color: grey;
  height: 1px;
  width: 47%;
}

.section-separator .svg-inline--fa {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #ccc;
  height: 2rem;
  width: 2rem;
}

/*==========  Main  ==========*/

.main {
  border-radius: 5px;
  min-height: 100vh;
}

.main table {
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: auto;
  margin: 1rem 4rem;
}

.main .edit-button:hover {
  background-color: #fff;
  color: #6f7d95;
}

.container .main table th.job-description {
  border-bottom: none;
}

.main thead th {
  background-color: #6f7d95;
  color: #fff;
}

.main table th {
  font-family: 'Arial', sans-serif;
  height: 55px;
  text-align: left;
  text-transform: uppercase;
}

.main table tr {
  height: 90px;
}

.main table th:nth-child(1) {
  border-top-left-radius: 5px;
  width: 2rem;
}

.main table th:nth-child(2) {
  border-bottom: 1px solid #ccc;
  margin: 10px;
  width: 25%;
}

.main table td {
  border-bottom: 1px solid #ccc;
  margin: 10px;
  padding-left: 2rem;
  width: calc(75% - 2rem);
}

.main table th:nth-child(4) {
  border-top-right-radius: 5px;
  width: 2rem;
}

.main table th button {
  background-color: #7c8ca6;
  border: none;
  padding: 8px;
}

.main table td {
  padding: 1rem 1rem 1rem 0;
}

/*==========  Marketing  ==========*/

.social-container {
  color: #fff;
  margin: 1rem 3rem 0 auto;
}

.social-container .svg-inline--fa {
  float: left;
  margin: 0 1rem 0 1rem;
}

.social-container button {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
}

.social-container span {
  margin-left: -24px;
}

.social-container .marketing__facebook {
  margin: 0 0 1rem 0;
}

.social-container .marketing__twitter,
.social-container .marketing__linkedin {
  margin: 1rem 0;
}

.marketing-container {
  width: calc(100% - 3rem);
}

.social-container .svg-inline--fa {
  width: 22px;
  height: 22px;
}

.marketing__facebook {
  background-color: #4e73c3;
}

.marketing__twitter {
  background-color: #01aaef;
}

.marketing__linkedin {
  background-color: #0482bd;
}

.marketing-container h4 .svg-inline--fa {
  margin-right: 1rem;
}

.marketing__input input.email {
  border-radius: 5px;
  width: 100%;
}

.marketing__input input {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  height: 3rem;
  padding: 0 0 0 1.5rem;
  width: calc(100% - 53px);
}

.marketing__input button {
  background-color: #48bac1;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  color: #fff;
  height: calc(3rem - 1px);
  margin-left: -5px;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  a.menu-link {
    display: none;
  }

  .js nav.employee-navigation {
    max-height: none;
  }

  nav.employee-navigation ul {
    border: 0;
    margin: 0 0 0 -0.25em;
  }

  nav.employee-navigation li {
    display: inline-block;
    margin: 0 0.25em;
  }

  nav.employee-navigation li a {
    border: 0;
    color: #868f9d;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  nav.employee-navigation li a:hover {
    color: #526074;
  }
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  body {
    grid-template-columns: 1fr 27%;
    grid-template-rows: 70px 150px auto auto;
    grid-template-areas: "search search" "header header" "reports reports" "main marketing";
  }

  .employee-navigation.active li {
    list-style-type: none;
  }

  .main-navigation {
    display: none;
  }

  .employee-buttons .employee-button1 {
    text-align: center;
  }

  nav.employee-navigation li a {
    color: #868f9d;
    font-weight: bold;
  }

  .main table th:nth-child(2) {
    width: 50%;
  }

  .main table td {
    width: calc(50% - 1rem);
  }

  .main table th:nth-child(1),
  .main table th:nth-child(4) {
    width: 1rem;
  }

  .marketing-item p {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .employee-data {
    padding: 2rem 1rem 0 1rem;
  }

  .donut-interior p {
    font-weight: bold;
    font-size: 20px;
  }

  .social-container button span {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

  body {
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto auto auto auto;
    grid-template-areas: "search" "header" "reports" "main" "marketing";
  }

  .employee-info {
    padding-top: 2rem;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto 1fr auto auto;
    grid-template-areas: "donut" "totals" "bar" "applicants" "seperator";
  }

  .employee-data {
    flex-direction: column;
  }

  .employee-data p {
    padding: 0 1rem 5px 1rem;
    text-align: center;
  }

  .marketing-container {
    width: 100%;
  }

  .social-container .marketing__facebook {
    margin: 1rem 0;
    width: auto;
  }

  .social-container .marketing__twitter,
  .social-container .marketing__linkedin {
    margin: 1rem 0;
    width: auto;
  }

  .marketing {
    padding: 0 4rem;
  }
  .social-container button {
    padding: 1rem 0;
  }
}



/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .search-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .search-input svg {
    margin: 0 10px 0 10px;
  }

  .search-input input::placeholder {
    opacity: 0;
  }

  .search-bar section.search-input {
    align-items: center;
    justify-content: center;
  }

  .search-input input {
    display: none;
  }

  .employee-data h2 {
    text-align: center;
  }

  .employee-data-info p {
    margin-bottom: 10px;
    text-align: center;
  }

  .employee-buttons .employee-button1 svg {
    display: none;
  }

  .donut-chart-container {
    align-items: center;
    flex-direction: column;
    margin-left: 0;
  }

  .employee-info img {
    margin: 1rem auto 0;
    width: 90%;
  }

  .totals {
    margin: 1rem 0;
  }

  .main table {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: auto;
    margin: 1rem 1rem;
  }

  .marketing {
    padding: 0 1rem 4rem;
  }

  .social-container {
    margin: 1rem 0 0 auto;
  }
}

@media only screen and (max-width: 320px) {

}